<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Variable</title>
</head>

<body>
	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
	<input type="hidden" id="userName" name="[[${#httpServletRequest.remoteUser}]]" />
	
	<p style="color: blue;"><a th:href="@{/create}">Create</a></p>
	<table border="1">
		<tr>
			<th>No</th>
			<th>Name</th>
			<th>Age</th>
			<th>UserName</th>
			<th>Addrest</th>
		</tr>

		<tr th:each="user, iter : ${user}">
			<td th:utext="${iter.count}">No</td>
			<td th:utext="${user.name}">Name</td>
			<td th:utext="${user.age}">Age</td>
			<td th:utext="${user.userName}">UserName</td>
			<td th:utext="${user.addrest}">Addrest</td>
		</tr>
	</table>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>
</body>

</html>